$color-black: #000000;
$color-white: #ffffff;
$color-yellow: #f8f200;
$color-blue: #52bedc;

$font-display: 'Archangelsk', 'Arial Narrow', sans-serif;
$font-body: 'Roboto', Arial, sans-serif;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1284px;
